body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
  }
  
  .dashboard-container {
    display: flex;
  }
  
  .sidebar {
    width: 240px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header {
    padding: 20px;
    background-color: #5151E5;
    color: #ffffff;
    text-align: center;
  }
  
  .sidebar-nav {
    flex-grow: 1;
    padding: 20px;
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav ul li {
    padding: 10px 0;
    cursor: pointer;
    color: #555555;
  }
  
  .sidebar-nav ul li:hover {
    color: #5151E5;
  }
  
  .main-content {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .main-header h1 {
    margin: 0;
    font-size: 24px;
    color: #333333;
  }
  
  .add-product {
    background-color: #5151E5;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
  }
  
  .add-product:hover {
    background-color: #5151E5;
  }

  .add-category {
    background-color: #5151E5;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .add-category:hover {
    background-color: #5151E5;
  }


  
  .inventory-table {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .inventory-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .inventory-table th,
  .inventory-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  .inventory-table th {
    background-color: #f8f8f8;
  }
  
  .inventory-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .inventory-table button {
    background-color: #5151E5;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .inventory-table button:hover {
    background-color: #5151E5;
  }
  